/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt { tapping-term-ms = <400>; };

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <41 42 44 43 31 32 33 35 34 36 23 22 21 19 18 6 7 20 8 9 10 11>;
            hold-trigger-on-release;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <40 39 38 37 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29>;
        };

        thumbmod: thumbmod {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMBMOD";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
        };

        skq: skq {
            compatible = "zmk,behavior-sticky-key";
            label = "SKQ";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
            ignore-modifiers;
        };

        tapcapsl: tapcapsl {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPCAPSL";
            #binding-cells = <0>;
            bindings = <&skq LSHFT>, <&caps_word>;

            tapping-term-ms = <400>;
        };

        tapcapsr: tapcapsr {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPCAPSR";
            #binding-cells = <0>;
            bindings = <&skq RSHFT>, <&caps_word>;

            tapping-term-ms = <400>;
        };
    };

    macros {
        altctrl: altctrl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &mo 5>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_pause_for_release>,
                <&macro_press>,
                <&kp LCTRL &mo 5>;

            label = "ALTCTRL";
            wait-ms = <15>;
            tap-ms = <30>;
        };

        alttab: alttab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT &mo 5>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_pause_for_release>,
                <&macro_press>,
                <&kp LEFT_ALT &mo 5>;

            label = "ALTTAB";
            wait-ms = <15>;
            tap-ms = <30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE    &kp Q  &kp W         &kp F            &kp P                  &kp B                        &kp J              &kp L              &kp U         &kp Y             &kp SEMICOLON  &kp PG_UP
&kp DELETE   &kp A  &hml LALT R   &hml LCTRL S     &hml LSHFT T           &kp G                        &kp M              &hmr RSHFT N       &hmr RCTRL E  &hmr RIGHT_ALT I  &kp O          &kp SINGLE_QUOTE
&key_repeat  &kp Z  &kp X         &kp C            &kp D                  &kp V            &kp C_MUTE  &kp K              &kp H              &kp COMMA     &kp DOT           &kp FSLH       &kp PAGE_DOWN
                    &kp LEFT_GUI  &thumbmod 4 ESC  &thumbmod 3 BACKSPACE  &thumbmod 4 ESC              &thumbmod 4 ENTER  &thumbmod 2 SPACE  &tapcapsr     &kp RWIN
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                      &kp N6               &kp N7           &kp N8     &kp N9     &kp N0   &kp MINUS
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                      &kp F7               &kp F8           &kp F9     &kp F10    &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &kp CAPS  &kp C_PLAY_PAUSE  &kp LS(NON_US_HASH)  &kp NON_US_HASH  &kp EQUAL  &kp GRAVE  &trans   &trans
                &trans  &trans  &trans  &trans                      &trans               &mo 3            &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        symbols {
            bindings = <
&trans  &kp DOLLAR   &kp SLASH        &kp MINUS    &kp CARET       &trans                        &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PIPE       &kp COLON          &trans
&trans  &kp HASH     &kp ASTERISK     &kp PLUS     &kp EQUAL       &trans                        &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND  &kp DOUBLE_QUOTES  &trans
&trans  &kp AT_SIGN  &kp EXCLAMATION  &kp PERCENT  &kp UNDERSCORE  &trans            &kp C_MUTE  &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp QUESTION   &kp BACKSLASH      &trans
                     &trans           &trans       &kp LESS_THAN   &kp GREATER_THAN              &trans  &trans                &trans                 &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        nav {
            bindings = <
&trans  &kp PAGE_UP    &kp LC(LEFT)    &kp UP_ARROW  &kp LC(RIGHT)    &kp HOME               &trans  &trans         &trans             &trans  &trans  &bootloader
&trans  &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT_ARROW  &kp END                &trans  &alttab        &altctrl           &trans  &trans  &trans
&trans  &trans         &kp LC(X)       &kp LC(C)     &trans           &kp LC(V)  &kp C_MUTE  &trans  &kp RC(MINUS)  &kp LC(LS(MINUS))  &trans  &trans  &trans
                       &trans          &trans        &trans           &trans                 &trans  &kp TAB        &trans             &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        layer_4 {
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10          &trans      &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS      &kp KP_MINUS
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11          &trans      &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MULTIPLY  &kp KP_DIVIDE
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12  &trans  &trans      &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_EQUAL     &trans
                &trans  &trans  &trans  &trans           &kp KP_DOT  &kp KP_NUMBER_0  &trans           &trans
            >;
        };

        alttab {
            bindings = <
&trans  &trans  &trans    &kp UP_ARROW    &trans     &trans          &trans  &trans  &trans      &trans  &trans  &trans
&trans  &trans  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &trans          &trans  &trans  &kp DELETE  &trans  &trans  &trans
&trans  &trans  &trans    &trans          &trans     &trans  &trans  &trans  &trans  &kp DELETE  &trans  &trans  &trans
                &trans    &trans          &trans     &trans          &trans  &trans  &trans      &trans
            >;
        };
    };
};
